body{
    padding:4px;
    margine:3px 0;
    display:block;
}

.post-thumb{
  width:100%;
}

h1.gFont-lobster{
    font-family: 'Lobster', cursive;
    line-height: 120%;
    text-shadow: 2px 2px #ffffff;
    color: #444444;
  }

h2.gFont-montserrat{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px
    line-height: 10%;
    text-shadow: 2px 2px #ffffff;
  }

a.navlink{
	color: #000;
}


