body{
    padding:4px;
    margin:3px;
    display:block;
}

.post-thumb{
  width:100%;
}

h1.gFont-lobster{
    font-family: 'Lobster', cursive;
    line-height: 120%;
    text-shadow: 2px 2px #ffffff;
    color: #444444;
  }

h2.gFont-montserrat{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 10%;
    text-shadow: 2px 2px #ffffff;
  }

a.navlink{
	color: #000;
}

.comments{
    box-shadow: 0px 4px 9px #CDCDCD;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 1px;
}
