body{
    padding:4px;
    margin:3px;
    display:block;
}

.post-thumb{
  width:100%;
}

h1.gFont-lobster{
    font-family: 'Lobster', cursive;
    line-height: 120%;
    text-shadow: 2px 2px #ffffff;
    color: #444444;
  }

h2.gFont-montserrat{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 10%;
    text-shadow: 2px 2px #ffffff;
  }

a.navlink{
	color: #000;
}

.comments{
    box-shadow: 0px 4px 9px #CDCDCD;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 1px;
}

.no-padding-sides{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.alwaysHidden{
  display: none !important;
}

.default-font{
  font-family: 'Varela Round', sans-serif;
}

.user-dp{
  height: 12%;
  border-radius: 67px;
}

/*********************** Blog Start **************************/
.blog-post-thumbnail{
  height: 33%;
  border-radius: 8px 8px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-author-date{
  margin-top: 3% !important;
  margin-bottom: 2%;
  color:#a6a6a6;
}

.blog-author.user-dp{
  height:40px !important;
  width:40px  !important;
}

.blog-post-title{
  font-family: 'Varela Round', sans-serif;
  font-size: xx-large;
}

.blog-post-summary{
  font-family: Montserrat !important;
}

.blog-post-card{
  padding-top: 3%;
  cursor: pointer;
}

.blog-post-card-lower-half{
  background-color: #fbfbfb;
  padding-bottom: 5%;
  border-radius: 0px 0px 8px 8px;
}
/*********************** Blog End **************************/